#editUploadedFilesTable tr {
  display: flex;
}

#editUploadedFilesTable th:nth-child(1) {
  min-width: 60%;
}

#editUploadedFilesTable th:nth-child(2) {
  min-width: 20%;
}

#editUploadedFilesTable th:nth-child(3) {
  min-width: 20%;
}

#editUploadedFilesTable td:nth-child(1) {
  min-width: 60%;
}

#editUploadedFilesTable td:nth-child(2) {
  min-width: 20%;
}

#editUploadedFilesTable td:nth-child(3) {
  min-width: 20%;
}

.btn-sm {
  padding: 2px;
}
