.App {
  text-align: center;
}

html,
body {
  height: 100%;
  background-color: rgb(216, 216, 216);
  text-align: center;
}

#root {
  min-height: 100vh;
}

.modal-header {
  background-color: #343a40;
  color: #fff;
}

button.close {
  color: #fff;
}

button.close:hover {
  color: red;
}
