/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .align-items-lg {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.btn-black {
  color: #fff;
  background-color: #535353;
  border-color: #000000;
}

.btn-black:hover {
  background-color: rgb(0, 0, 0);
  color: #fff;
}

.width {
  max-width: 22vh;
  max-height: min-content;
}

#loginForm {
  min-width: 22em;
  margin: 0;
}
