/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .align-items-lg {
    position: absolute;
    top: 25%;
  }
}

.login-form {
  background-color: #fff;
}

.login-form.border {
  border: 3px solid #535353 !important;
  border-radius: 1.3em !important;
}

.btn-black {
  color: #fff;
  background-color: #535353;
  border-color: #000000;
}

.btn-black:hover {
  background-color: rgb(0, 0, 0);
  color: #fff;
}

.width {
  width: 22vh;
}
